@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
h1{
    font-size: 9vw;
    font-weight: 600;
}
h2{
    font-size: 3rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    color: var(--black-color);
}
p{
    font-size: 1rem;
    font-weight: 600;
}
